.App {
    background-color: #0E1921;
    /*background-image: url('./assets/images/background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center fixed;
    background-repeat: no-repeat;*/
}